/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
 /* Header Menu Hide Media Css */
 nav.navbar {
    padding: 6px 35px;
}
 .main-nav {
    background: #423835;
    color: #fff;
 }
 .main-nav ul li a {
    
    color: #fff !important;
    margin-left: 25px;
    
    margin-top: 10px;
}
.welcome-section {
    padding: 64px 0;
}
.section-title h2 {
    
    font-size: 22px;
   
}
.section-title p {
    
    padding: 0px 80px;
    font-size: 14px;
   
}
.parallax-container {
  
    display: none;
}
.welcome-content {
    margin-top: 0;
}
.coffee-express h3 {
    font-size: 50px;
   
    margin-left: 43px;
}
.coffee-express h4 {
    font-size: 50.8px;
    margin-left: 45px;
}
.coffee-express p {
    font-size: 14px;
    color: #605850;
    margin-left: 39px;
    padding: 0 0;
}
a.read-more {
    
    font-size: 30px;
    margin-left: 199px;
}
.hot-img img {
    width: 100%;
    height: auto;
}
.hot-menu-content {
    margin-left: 0px; 
}


.hot-menu-content img {
    width: 75PX;
}
.hot-menu-content h2 {
    font-size: 21px;
}


.hot-menu-content h3 {

    font-size: 12px;
    line-height: 22px;
}
.hot-menu-content h5 {
   
    display: none;
}

a.full-menu {

    font-size: 12px;
    padding: 16px 12px;
    
}

/****** slider ***/
.first-slide-img img {
    width: 130px;
    margin-top: 20px;
    padding-left: 30px;
}
.f-s-text {
    top: 39px;
}
.first-slide-img {
    position: absolute;
    right: 23px;
    top: 30px;
}
.f-s-text h3 {
    font-size: 30px;
}
.f-s-text h1 {
    font-size: 47px;
    line-height: 36px;
    font-weight: bold;
}
.f-s-text h4 {
    font-size: 18px;
    color: #fff;
    line-height: 45px;
}
.bg-1,.bg-2, .bg-3 {
    height: 300px;
}
.s-s-text h2 {
    font-size: 30px;
}
.s-s-text h3 {
    font-size: 18px;
    line-height: 30px;
   
}
.s-s-text {
    top: 45px;
}
.ts-text h3 {
    font-size: 26px;
    line-height: 26px;
}
.ts-text h2 {
    font-size: 30px;
    line-height: 8px;
}
.ts-text h4 {
    font-size: 20px;
    line-height: 44px;
}
.ts-text {
    top: 49px;
    left: 34px;
}
.ts-text img {
    left: 176px;
    top: 78px;
    width: 60%;
}





}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
/* Header Menu Hide Media Css */


     /* Header Menu Hide Media Css */
 nav.navbar {
    padding: 6px 35px;
}
 .main-nav {
    background: #333;
    color: #fff;
 }
 .main-nav ul li a {
    
    color: #fff !important;
    margin-left: 25px;
    
    margin-top: 10px;
}
.welcome-section {
    padding: 64px 0;
}
.section-title h2 {
    
    font-size: 22px;
   
}
.section-title p {
    
    padding: 0px 80px;
    font-size: 14px;
   
}

.welcome-content {
    margin-top: 0;
}
.coffee-express h3 {
    font-size: 32px;
    margin-left: 21px;
}
.coffee-express h4 {
    font-size: 48.8px;
    margin-left: 23px;
}
.coffee-express p {
    font-size: 12px;
    color: #605850;
    margin-left: 20px;
    padding: 0 0;
}
a.read-more {
    font-size: 28px;
    margin-left: 15px;
}
.hot-img img {
    width: 100%;
    height: auto;
}
.hot-menu-content {
    margin-left: 0px; 
}


.hot-menu-content img {
    width: 75PX;
}
.hot-menu-content h2 {
    font-size: 21px;
}


.hot-menu-content h3 {

    font-size: 12px;
    line-height: 22px;
}
.hot-menu-content h5 {
   
    display: none;
}

a.full-menu {

    font-size: 12px;
    padding: 16px 12px;
    
}
.parallax-container {
    background-image: url(../imgs/cup1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 275px;
    
}

.cup-coffee img {
    height: 369px;
    /* padding: 51px 0; */
}
.cup-coffee {
    padding-top: 0px; 
    padding-bottom: 44px;
}

/******slider*******/
    

.bg-1 {
  
    height: 377px;
}

.first-slide-img {
    top: -84px;
}
.f-s-text {
    top: 43px;
    left: 4%;
}
.f-s-text h3 {
    font-size: 49px;
   
}
.f-s-text h1 {
    font-size: 80px;
  
    line-height: 51px;
    font-weight: bold;
}
.f-s-text h4 {
    font-size: 40px;
    line-height: 57px;
}
.first-slide-img {
    top: 0px;
}

.bg-1,.bg-2, .bg-3 {
    height: 300px;
}
.s-s-text h2 {
    font-size: 36px;
}
.s-s-text h3 {
    font-size: 38px;
    line-height: 0px;
   
}
.s-s-text {
    
    top: -27px;
    
}
.ts-text {
    position: absolute;
    top: 45px;
    left: 72px;
}
.ts-text h3 {
    font-size: 51px;
    line-height: 30px;
   
}

.ts-text h2 {
    font-size: 53px;
    line-height: 46px;
   
}
.ts-text h4 {
    font-family: 'Grand Hotel';
    font-size: 51px;
    color: #fff;
    line-height: 77px;
}

.ts-text img {
   
    left: 325px;
    top: 78px;
    width: 228px;
}



 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
/* Header Menu Hide Media Css */

.header-form {
    display: none !important;
}
    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
         -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
         padding: 0 0;
    }

    .navbar-default.navbar-shrink .navbar-brand img {
        width: 59%;
    }
    .section-title p {
        
        padding: 0px 76px;
        font-size: 17px;
        margin: 39px 0;
        
    }
    .parallax-container {
        height: 349px;
    }
    .coffee-express h3 {
        font-size: 49px;
       
    }
    .coffee-express h4 {
        
        font-size: 56.8px;
       
    }
    .coffee-express p {
        font-size: 15px;
        margin-right: 22px;
    }
    .cup-coffee {
        padding-top: 0px; 
        padding-bottom: 44px;
    }
    
    .cup-coffee img {
        height: 369px;
        /* padding: 51px 0; */
    }
    /******slider*******/
    .bg-1 {
  
        height: 377px;
    }
    
    .first-slide-img {
        top: -84px;
    }
    .f-s-text {
        top: 43px;
        left: 4%;
    }
    .f-s-text h3 {
        font-size: 49px;
       
    }
    .f-s-text h1 {
        font-size: 80px;
      
        line-height: 51px;
        font-weight: bold;
    }
    .f-s-text h4 {
        font-size: 40px;
        line-height: 57px;
    }
    .first-slide-img {
        top: 0px;
    }
    
    .bg-1,.bg-2, .bg-3 {
        height: 300px;
    }
    .s-s-text h2 {
        font-size: 36px;
    }
    .s-s-text h3 {
        font-size: 38px;
        line-height: 0px;
       
    }
    .s-s-text {
        
        top: -27px;
        
    }
    .ts-text {
        position: absolute;
        top: 45px;
        left: 72px;
    }
    .ts-text h3 {
        font-size: 51px;
        line-height: 30px;
       
    }
    
    .ts-text h2 {
        font-size: 53px;
        line-height: 46px;
       
    }
    .ts-text h4 {
        font-family: 'Grand Hotel';
        font-size: 51px;
        color: #fff;
        line-height: 77px;
    }
    
    .ts-text img {
       
        left: 325px;
        top: 78px;
        width: 228px;
    }
    
    
    

    

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .header-form {
        display: none !important;
    }

    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
        padding: 0 0;
    }

    .navbar-default.navbar-shrink .navbar-brand img {
        width: 59%;
    }
     /******slider*******/
     .bg-1 {
  
        height: 377px;
    }
    
    .first-slide-img {
        top: -84px;
    }
    .f-s-text {
        top: 43px;
        left: 4%;
    }
    .f-s-text h3 {
        font-size: 49px;
       
    }
    .f-s-text h1 {
        font-size: 80px;
      
        line-height: 51px;
        font-weight: bold;
    }
    .f-s-text h4 {
        font-size: 40px;
        line-height: 57px;
    }
    .first-slide-img {
        top: 0px;
    }
    
    .bg-1,.bg-2, .bg-3 {
        height: 300px;
    }
    .s-s-text h2 {
        font-size: 36px;
    }
    .s-s-text h3 {
        font-size: 38px;
        line-height: 0px;
       
    }
    .s-s-text {
        
        top: -27px;
        
    }
    .ts-text {
        position: absolute;
        top: 45px;
        left: 72px;
    }
    .ts-text h3 {
        font-size: 51px;
        line-height: 30px;
       
    }
    
    .ts-text h2 {
        font-size: 53px;
        line-height: 46px;
       
    }
    .ts-text h4 {
        font-family: 'Grand Hotel';
        font-size: 51px;
        color: #fff;
        line-height: 77px;
    }
    
    .ts-text img {
       
        left: 325px;
        top: 78px;
        width: 228px;
    }
    
    .first-slide-img {
        top: -19px;
        width: 264px;
    }  
     

    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
/* ===========Main Header Media Css Start */

    .header-form {
        display: none !important;
    }
    .navbar-default {
         padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
        padding: 0 0;
    }

    .navbar-default.navbar-shrink .navbar-brand img {
        width: 59%;
    }
/* ===========Main Header Media Css end */

}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
/* ===========Main Header Media Css Start */
    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
        padding: 0 0;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

/* ===========Main Header Media Css end */

 }